:root{
    --body-bg: #5c636e;
    --section-border: #f8b500;
    --section-text: #2b2d31;

    --body-margin: 1em 1.5em;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--body-bg);
}

#header{
    display: flex;
    justify-content: space-between;
    color: var(--section-text);
    background-image: linear-gradient(0deg,#5c636e,#f8b500);
    padding: 2em;
}

#main-nav{
    display: inline-block;
    padding-top: 0.5em;
    margin-right: 1.25em;
    font-family: 'Times New Roman', Arial, Georgia, Calibri, Cambria, Helvetica, sans-serif, serif;
    font-size: 1.25em;
}

#main-nav ul{
    list-style-type: none;
}

#main-nav li{
    display: inline-block;
    margin-left: 1.5em;
}

#main-nav ul a{
    color: var(--section-text);
}

#user-intro{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: var(--body-margin);
    background-position: center;
    background-size: contain;
}

#user-intro h2{
    padding-left: 1.25em;
    font-size: 2em;
    color: var(--section-text);
}

#user-profile-pic{
    width: 15em;
    border-radius: 20%;
    margin-left: 1em;
    border: solid 0.1em #f8b500;
    box-shadow: 0.3em 0.2em #f8b500;
}

.section-title{
    color: var(--section-text);
    border-right: solid 4px var(--section-border);
    margin-right:0.5em;
    font-size: 2em;
    width: 4em;
    text-align: end;
    padding-right: 0.25em;
}

#about-me-sec{
    display: flex;
    margin: var(--body-margin);
}

#about-me-sec p{
    color: var(--section-text);
    flex: 1;
    font-size: 1.25em;
}

#work-sec{
    display: flex;
    margin: var(--body-margin);
}

#work-nav{
    flex: 1;
}

#work-nav ul{
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
}

#work-nav ul li{
    width: 48%;
    margin: 2% 0;
    position: relative;
}

#work-nav ul li:nth-child(2), #work-nav ul li:nth-child(4){
    margin-right: 2%;
}

#work-nav ul li:nth-child(3),#work-nav ul li:nth-child(5){
    margin-left: 2%;
}

#work-nav #first-project{
    width: 100%;
}

.project-cover{
    display: block;
    height: 8em;
    border: solid 2px var(--section-border);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(70%);
}

.project-cover:hover{
    transition: ease-in-out 0.5s;
    filter: brightness(100%);
}

#horiseon{
    background-image: url('./imgs/Horiseon-front-page.jpeg');
    height: 20em;
}

#password-gen{
    background-image: url('./imgs/password.jpg');
}

#api-project{
    background-image: url('./imgs/api.jpeg');
}

#database-design{
    background-image: url('./imgs/database.jpg');
}

#react-app{
    background-image: url('./imgs/react.jpg');
}

.work-title{
    color: var(--section-text);
    position: absolute;
    background-color: var(--section-border);
    padding: 0.5em;
    bottom: 1em;
}

#contact-me-sec{
    display: flex;
    margin: var(--body-margin);
}

#contacts-nav{
    flex: 1;
}

#contacts-nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

.fa-brands, .fa-solid{
    font-size: 2em;
    padding-right: 0.25em;
}

#contacts-nav ul li{
    padding-top: 1em;
}

#contacts-nav ul li a{
    color: var(--section-text);
}

footer{
    color: var(--section-text);
    text-align: center;
    margin: var(--body-margin);
}