*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    margin: 0.3em;
}

header{
    display: flex;
    justify-content: space-between;
}

header img{
    width: 40px;
    border-radius: 50%;
}

#main-nav{
    display: inline-block;
    padding-top: 1em;
    margin-right: 1.25em;
    font-family: 'Times New Roman', Arial, Georgia, Calibri, Cambria, Helvetica, sans-serif, serif;
    font-size: 1.2em;
}

#main-nav ul{
    list-style-type: none;
}

#main-nav li{
    display: inline-block;
    margin-left: 1.5em;
}

#main-nav li a{
    text-decoration: underline;
}

#user-intro{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0.5em 0 0.5em 0;
}

#user-intro h1{
    padding-left: 1.25em;
    font-size: 2em;
}

#user-profile-pic{
    width: 20%;
    border-radius: 50%;
}

.section-title{
    border-right: solid 4px rgb(39, 39, 129);
    margin-right:0.5em;
    font-size: 2em;
    width: 4em;
    text-align: end;
    padding-right: 0.25em;
}

#about-me-sec{
    display: flex;
}

#about-me-sec p{
    flex: 1;
}

#work-sec{
    display: flex;
}

#work-nav{
    flex: 1;
}

#work-nav ul{
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
}

#work-nav ul li{
    width: 48%;
    margin: 2% 0;
    position: relative;
}

#work-nav ul li:nth-child(2), #work-nav ul li:nth-child(4){
    margin-right: 2%;
}

#work-nav ul li:nth-child(3),#work-nav ul li:nth-child(5){
    margin-left: 2%;
}

#work-nav #first-project{
    width: 100%;
}

.project-cover{
    display: block;
    height: 8em;
    border: solid 2px aqua;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#horiseon{
    background-image: url('./imgs/Horiseon-front-page.jpeg');
    height: 20em;
}

#password-gen{
    background-image: url('./imgs/password.jpg');
}

#api-project{
    background-image: url('./imgs/api.jpeg');
}

#database-design{
    background-image: url('./imgs/database.jpg');
}

#react-app{
    background-image: url('./imgs/react.jpg');
}

.work-title{
    color: black;
    position: absolute;
    background-color: rgb(197, 249, 249);
    padding: 0.5em;
    bottom: 1em;
}

#contact-me-sec{
    display: flex;
}

#contacts-nav{
    flex: 1;
}

#contacts-nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

.fa-brands, .fa-solid{
    font-size: 30px;
    padding-right: 0.25em;
}

footer{
    text-align: center;
}